* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}

html, body {
  height: 100%
}

canvas {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}